{% extends 'base.html.twig' %}

{% block title %}Résultats de la recherche{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title">Résultats de la recherche pour "{{ query }}"</h1>
        {% if vehicles is empty %}
            <p>Aucun résultat trouvé pour "{{ query }}"</p>
        {% else %}
            <section id="card" class="row custom-row">
                {% for vehicle in vehicles %}
                    <article class="col-md-4 mb-4 custom-col card-vehicle">
                        <a href="{{ path('details_vehicle', {'id': vehicle.id}) }}" class="custom-link">
                            <div class="card custom-card">
                                {% if vehicle.images.first %}
                                    <img src="{{ asset(vehicle.images.first.url) }}" class="card-img-top custom-img" alt="Image du Véhicule">
                                {% else %}
                                    <img src="{{ asset('images/default_vehicle.jpg') }}" class="card-img-top custom-img" alt="Image du Véhicule">
                                {% endif %}
                                <div class="card-body custom-card-body">
                                    <h5 class="card-title custom-title">{{ vehicle.brand }} {{ vehicle.model }}</h5>
                                    {# Ajoutez d'autres détails du véhicule si nécessaire #}
                                </div>
                            </div>
                        </a>
                    </article>
                {% endfor %}
            </section>
        {% endif %}
    </div>
{% endblock %}
