{% extends 'base.html.twig' %}

{% block title %}Liste des Véhicules{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title">Liste des Véhicules</h1>

        {% if vehicles is empty %}
            <p>Une erreur est survenue, Merci de réessayer.</p>
        {% else %}
            <section id="card" class="row custom-row">
                {% for vehicle in vehicles %}
                    <article class="col-md-4 mb-4 custom-col card-vehicle">
                        <a href="{{ path('details_vehicle', {'id': vehicle.id}) }}" class="custom-link">
                            <div class="card custom-card">
                                <img src="{{ asset(vehicle.images.first.url) }}" class="card-img-top custom-img" alt="{{ vehicle.brand ~ ' ' ~ vehicle.model }}">
                                <div class="card-body custom-card-body">
                                    <h5 class="card-title custom-title">{{ vehicle.brand }} {{ vehicle.model }}</h5>
                                </div>
                            </div>
                        </a>
                    </article>
                {% endfor %}
            </section>
        {% endif %}
    </div>
{% endblock %}





