{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="title mb-4">Inscription</h1>

        {{ form_start(registrationForm, {'attr': {'class': 'form'}}) }}
            <div class="form-group mb-3">
                <label for="{{ registrationForm.username.vars.id }}">Pseudo</label>
                {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control' ~ (registrationForm.username.vars.errors|length > 0 ? ' is-invalid' : '')}}) }}
                {% if registrationForm.username.vars.errors|length > 0 %}
                    <div class="invalid-feedback">
                        {{ form_errors(registrationForm.username) }}
                    </div>
                {% endif %}
            </div>

            <div class="form-group mb-3">
                <label for="{{ registrationForm.email.vars.id }}">Adresse email</label>
                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control' ~ (registrationForm.email.vars.errors|length > 0 ? ' is-invalid' : '')}}) }}
                {% if registrationForm.email.vars.errors|length > 0 %}
                    <div class="invalid-feedback">
                        {{ form_errors(registrationForm.email) }}
                    </div>
                {% endif %}
            </div>

            <div class="form-group mb-3">
                <label for="{{ registrationForm.plainPassword.vars.id }}">Mot de passe</label>
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control' ~ (registrationForm.plainPassword.vars.errors|length > 0 ? ' is-invalid' : '')}}) }}
                {% if registrationForm.plainPassword.vars.errors|length > 0 %}
                    <div class="invalid-feedback">
                        {{ form_errors(registrationForm.plainPassword) }}
                    </div>
                {% endif %}
                <div id="password-feedback" class="form-text text-muted"></div>
            </div>

            <div class="form-group mb-3">
                <label for="{{ registrationForm.confirmPassword.vars.id }}">Confirmer le mot de passe</label>
                {{ form_widget(registrationForm.confirmPassword, {'attr': {'class': 'form-control' ~ (registrationForm.confirmPassword.vars.errors|length > 0 ? ' is-invalid' : '')}}) }}
                {% if registrationForm.confirmPassword.vars.errors|length > 0 %}
                    <div class="invalid-feedback">
                        {{ form_errors(registrationForm.confirmPassword) }}
                    </div>
                {% endif %}
            </div>

            <div class="form-group form-check mb-3">
                {{ form_widget(registrationForm.agreeTerms, {'attr': {'id': registrationForm.agreeTerms.vars.id, 'class': 'form-check-input'}}) }}
                <label class="form-check-label" for="{{ registrationForm.agreeTerms.vars.id }}">
                    Accepte les conditions générales d’utilisation
                </label>
                {% if registrationForm.agreeTerms.vars.errors|length > 0 %}
                    <div class="invalid-feedback">
                        {{ form_errors(registrationForm.agreeTerms) }}
                    </div>
                {% endif %}
            </div>

            <div class="form-group form-check mb-3">
                {{ form_widget(registrationForm.agreeRGPD, {'attr': {'id': registrationForm.agreeRGPD.vars.id, 'class': 'form-check-input'}}) }}
                <label class="form-check-label" for="{{ registrationForm.agreeRGPD.vars.id }}">
                    J'accepte la politique de confidentialité
                </label>
                {% if registrationForm.agreeRGPD.vars.errors|length > 0 %}
                    <div class="invalid-feedback">
                        {{ form_errors(registrationForm.agreeRGPD) }}
                    </div>
                {% endif %}
            </div>

            <button class="btn btn-lg btn-warning mt-2" type="submit">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}