{# templates/reservation/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Nouvelle Réservation{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4 mb-4 title">Nouvelle Réservation</h1>
        {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

        <div class="row mb-3">
            <div class="col-md-6">
                {{ form_label(form.start_date, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.start_date, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.start_date) }}
            </div>
            <div class="col-md-6">
                {{ form_label(form.end_date, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.end_date, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.end_date) }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                {{ form_label(form.user, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.user) }}
            </div>
            <div class="col-md-6">
                {{ form_label(form.vehicle, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.vehicle, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.vehicle) }}
            </div>
        </div>

        <div class="mb-3">
            {{ form_label(form.message, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.message) }}
        </div>

        <button type="submit" class="btn btn-warning">Envoyer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
